<h3>Latest taken number: {{numServing}}</h3>
<div class="counter-container" *ngFor="let counter of counters; index as i">
    <div class="status-indicator"></div>
    <div class="card-body">
        <h2 class="card-title">{{"Counter " + counter.id}}</h2>
        <h4>Currently serving: Order {{counter.numServing}}</h4>
        <button type="button" class="btn btn-success" (click) = "takeNextNumber(i)" [disabled]="!counter.enabled">Take new</button>
        <button type="button" class="btn btn-info" (click) = "enableCounter(i)" [disabled]="counter.enabled">Complete current</button>
    </div>
</div>