.notBusy {
    color: rgb(9, 90, 60);
}

.busy {
    color: rgb(178, 10, 10);
}

.disabled {
    color: grey;
}

.card-img-top {
    height: 3rem;
}

mat-grid-list {
    width: 65%;
    padding-bottom: 0% !important;
}

mat-card {
    display: flex;
    width: calc(97.5%);
    height: calc(95%);
    justify-content: center;
    align-items: center;
    background-color: #c4ced7;
}

mat-card-title, mat-card-subtitle {
    display: flex;
    justify-content: center;
    align-items: center; 
}

mat-card-title {
    font-size: 1.6rem; 
}