<mat-grid-list cols="2" rowHeight="2:1">
    <mat-grid-tile *ngFor="let counter of counters; index as i">
        <mat-card class="counter-card">
            <mat-card-header>
                <div
                    [ngClass]="{'disabled' : counter.disabled, 'notBusy': !counter.busy && !counter.disabled, 'busy': counter.busy && !counter.disabled}">
                </div>
                <mat-card-title>{{"COUNTER " + counter.id}}</mat-card-title>
                <mat-card-subtitle [ngClass]="counter.disabled ? 'disabled' : (!counter.busy ? 'notBusy' :
                'busy')">{{counter.disabled ? 'Status: disabled' : (!counter.busy ? 'Status: available' :
                    'Status: busy')}}</mat-card-subtitle>
            </mat-card-header>
            <mat-card-content>
                <mat-card-subtitle class="card-text" *ngIf="!counter.disabled && counter.busy">Current number: Order
                    {{counter.numServing}}</mat-card-subtitle>
            </mat-card-content>
            <mat-card-actions *ngIf="showButtons">
                <button mat-flat-button [disabled]="counter.busy || counter.disabled"
                    (click)="counterTakeNext(counter.id)">Take
                    new</button>
                <button mat-flat-button color="primary" [disabled]="!counter.busy || counter.disabled"
                    (click)="counterCompleteCurrent(counter.id)">Complete
                    current</button>
                <button mat-flat-button color="warn" [disabled]="counter.busy"
                    (click)="toggleCounterDisabled(counter.id)">
                    {{!counter.disabled ? 'Disable counter' : 'Enable counter'}}
                </button>
            </mat-card-actions>
        </mat-card>
    </mat-grid-tile>
</mat-grid-list>