h1 {
    display: flex;
    justify-content: center;
    padding: 1.5rem;
    color: aliceblue;
}

app-counters, app-summary {
    display: flex; 
    justify-content:center; 
    align-items:center;
}
