<mat-card class="summary-container">
    <mat-card-header>
        <mat-card-title>Summary</mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <mat-card-subtitle>Currently serving: {{servingData.numServing}}</mat-card-subtitle>
        <mat-card-subtitle>Latest taken number: {{servingData.latestNumber}}</mat-card-subtitle>
    </mat-card-content>
</mat-card>

<button mat-stroked-button color="primary" (click)="takeNextNumber()">Take next number</button>

<mat-grid-list cols="2" rowHeight="2:1">
    <mat-grid-tile *ngFor="let counter of counters; index as i">
        <mat-card class="counter-card">
            <div class="card-img-top"
                [ngClass]="{'disabled' : counter.disabled, 'notBusy': !counter.busy && !counter.disabled, 'busy': counter.busy && !counter.disabled}">
            </div>
            <mat-card-header>
                <mat-card-title>{{"Counter " + counter.id}}</mat-card-title>
                <mat-card-subtitle>{{counter.disabled ? 'Status: disabled' : (!counter.busy ? 'Status: available' :
                    'Status: busy')}}</mat-card-subtitle>
            </mat-card-header>
            <mat-card-content>
                <mat-card-subtitle class="card-text" *ngIf="!counter.disabled && counter.busy">Current number: Order
                    {{counter.numServing}}</mat-card-subtitle>
            </mat-card-content>
        </mat-card>
    </mat-grid-tile>
</mat-grid-list>
<a routerLink="/admin" routerLinkActive="active">Navigate to admin view</a>