h3 {
    font-size: large;
}

.notBusy {
    background-color: green;
}

.busy {
    background-color: red;
}

.disabled {
    background-color: grey;
}

.card-img-top {
    height: 3rem;
}

mat-grid-list {
    width: 60%;
}

.counter-card {
    width: calc(97.5%);
    height: calc(95%);
}

.summary-container {
    width: 60%;
}