.menu-spacer {
    flex: 1 1 auto;
}

h1 {
    font-size: medium;
    font-weight: 100;
    letter-spacing: 0.2rem;
}

a {
    text-decoration: none;
}

mat-toolbar {
    background-color: #344955;
    color: aliceblue;
}